@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --light-purple: #8064a2;
  --lighter-purple: #f7f5f9;
  --muted-purple: #ccc1da;
  --bg-purple: #f7f5f9;
  --light-blue: #0096c8;
  --lighter-blue: #f7fdff;
}
html body #root * {
  font-family: "Poppins", sans-serif;
}

.banner-main-container {
  padding: 30px 30px 0 30px;
  background-color: var(--bg-purple);
}
.cards-container {
  display: flex;
  padding: 100px 30px;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.cards-container > div {
  padding: 40px;
  border-radius: 8px;
}

.add-card-container {
  background: var(--lighter-blue);
  padding: 30px;
}
.testimonials-main-container {
  padding: 30px;
}
.banner2-main-container {
  margin: 100px 0px;
}
.banner2-main-container > div {
  padding: 30px;
  background: #f7fdff;
}

.footer-main-container {
  margin: 100px 30px;
}
.invite-friends {
  width: 100%;
  display: flex;
  font-size: 15px;
}
.invite-friends > input {
  border-radius: 10px 0 0 10px;
  font-size: 15px;
  height: 40px;
  width: 100%;
}

/* Small devices */
@media (min-width: 576px) {
  .banner-main-container {
    padding: 50px 50px 0 50px;
    background-color: var(--bg-purple);
  }
}

/* medium devices  */
@media (min-width: 768px) {
  .search-bar {
    margin-right: 4rem;
  }
  .banner-main-container {
    padding: 100px 100px 0 100px;
  }
  .cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
    margin: 100px auto;
  }
  .add-card-container {
    padding: 100px;
  }
  .testimonials-main-container {
    padding: 100px;
  }
  .banner2-main-container > div {
    padding: 60px;
  }
  .footer-main-container {
    margin: 100px 60px;
  }
}

/* large devices  */
@media (min-width: 992px) {
  .banner2-main-container > div {
    padding: 100px;
  }
  .footer-main-container {
    margin: 100px;
  }
}

/* Extra large devices  */
@media (min-width: 1200px) {
  .search-bar {
    margin-right: 8rem;
  }
}
