@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --light-purple: #8064a2;
  --lighter-purple: #f7f5f9;
  --muted-purple: #ccc1da;
  --bg-purple: #f7f5f9;
  --light-blue: #0096c8;
  --lighter-blue: #f7fdff;
}
html body #root * {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.footer-main p {
  text-align: center;
  background-color: #f7f5f9;
  padding: 24px 24px;
  width: 100%;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-list h4 {
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.07px;
  margin-top: 15px;
}

.footer-list li {
  list-style-type: none;
}

.footer-main input {
  border: 1px solid #8064a2;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
}

.footer-main button {
  background-color: #8064a2;
  color: white;
  height: 40px;
  border-radius: 0px 8px 8px 0px;
}

.social img {
  margin-left: 7px;
  margin-bottom: 20px;
}
.banner2 {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.banner2-button {
  width: 10rem;
  height: 2.6rem;
  color: white;
  background-color: #8064a2;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.banner2 img {
  width: 100%;
}

.testimonial-main {
  background-color: #f7f5f9;
  border-radius: 8px;
}

.span-1 {
  color: #8064a2;
}

.span-2 {
  color: #0096c8;
}

.cards-container {
  flex-direction: column;
}

@media (min-width: 576px) {
  #banner1 {
    padding: 3rem;
  }
  #banner1 > div {
    width: 75%;
  }
  #banner1_signIn {
    padding: 3rem !important;
  }
  .cards-container {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .footer-list {
    flex-direction: column;
  }
  .header-logo {
    width: 30vw;
    margin-right: 5vw;
  }
}
@media (min-width: 768px) {
  .banner-text {
    width: 75%;
  }
  #banner1_signIn {
    margin-bottom: 0rem !important;
  }
}
@media (min-width: 992px) {
  .cards {
    width: 500px;
    height: 300px;
  }
}
@media (min-width: 1200px) {
}
